<footer class="site-footer">
  <div>
    <strong>{{ site.Params.organisationName }}</strong>
    <p>{{ site.Params.address.street }}, {{ site.Params.address.locality }}</p>
  </div>
  <nav aria-label="Footer">
    <a href="/jahresberichte/">Jahresberichte</a>
    <a href="/medien/">Medien</a>
    <a href="/kontakt-unterstuetzen/">Kontakt</a>
    <a href="/archiv/">Archiv</a>
    <a href="/rechtliches/impressum/">Impressum</a>
    <a href="/rechtliches/datenschutz/">Datenschutz</a>
  </nav>
</footer>
